@keyframes sub_visual{
    from{transform:scale(1.1);}
    to{transform:scale(1);}
}
.visual img{animation:sub_visual 5s 1 ease-out;}
/* 서브페이지 공통영역 */
.visual{
    width: 2000px; 
    height: 500px;
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -1000px;
    overflow: hidden;
}
.visual h3{
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 230px;
    margin-left: -74px;
    font-weight: 400;
}
.subNav{
    border-bottom: 1px solid #ccc;
}
.subNav ul{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 490px;
}
.subNav ul li{
    float: left;
    width: 240px;
    text-align: center;
}
.subNav ul li a{
    display: block;
    padding: 20px 0;
    font-size: 1.2em;
    color: #666;
}
.subNav ul li a:hover{
    background: #0a2369;
    color: #fff;
    font-weight: 500;
}
.subNav ul li .current{
    background: #0a2369;
    color: #fff;
}

#content{
    width: 1200px;
    margin: 0 auto;
}
#content .titleArea .lineMap{
    margin: 100px 0 40px 515px;
    color: #999;
    
}
#content .titleArea h2{
    font-size: 3em;
    font-weight: 700;   
    margin: 40px 0 100px 0;
    text-align: center;
}
#content .titleArea .subtext{
    text-align: center;
}
#content .titleArea .subtext:first-of-type{
    font-size: 2.5em;
    color: #01a2fe; 
    font-weight: 500;   
}
#content .titleArea .subtext:nth-of-type(2){
    font-size: 1.75em;
    color: #666;
}

.tabs {width:100%;} 
.tabs .tab_menu{overflow: hidden;}
.tabs .tab_menu li{
    float: left;
    margin: 50px -6px 30px 0;
    border: 1px solid #999;
    border-collapse: collapse;
}

.tabs a.tab {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 1.25em; 
    background: #fff; 
    color: #999; 
    padding: 10px 0; 
    transition: all .5s;
    font-weight: 500;
} 

.tabs .contlist {display: none;
    padding:15px;line-height:1.5em; background:#fff} 
.tabs .contlist h3{font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.contentArea .table{
    border: 1px solid #eee;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: 100px 0;
}
.contlist .mainimage > img{
    width: 1200px;
    height: 600px;
}
.contlist h3{
    font-size: 2rem;
    text-align: center;
}
.contlist > p{
    font-size: 1.125em;
    text-align: center;
    margin: 50px 0;
}
.contentArea .table td:first-child{
    background: #eee;
}
.contentArea .table tr,td{
    border: 1px solid #eee;
}

